.welcome {
  background-image: url("https://images.unsplash.com/photo-1518607692857-bff9babd9d40?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxzZWFyY2h8NXx8dG8lMjBkbyUyMGxpc3R8ZW58MHx8MHw%3D&auto=format&fit=crop&w=500&q=60");
  background-attachment: fixed;
  background-size: cover;
  height: 600px;
}
